

/*---------------------------------logo*/
.header {
   display: flex;
   justify-content: flex-end;
}
.logo-burger {
   width: 30px;
   height: 30px;
   position: relative;
   z-index: 2;
   overflow: hidden;
}
.logo-burger__item {
   width: 30px;
   height: 2px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #222222;
   transition: all 0.5s;
}
.logo-burger__item:nth-of-type(2) {
   top: calc(50% - 5px);
}
.logo-burger__item:nth-of-type(3) {
   top: calc(50% + 5px);
}


/*--------------------------logo по клику в X, для JS добавляем .active*/
.logo-burger.active span:nth-of-type(1) {
   display: none;
}
.logo-burger.active span:nth-of-type(2) {
   top: 50%;
   transform: translate(-50%, 0%) rotate(45deg);
}
.logo-burger.active span:nth-of-type(3) {
   top: 50%;
   transform: translate(-50%, 0%) rotate(-45deg);
}



/*-----------------------------menu*/
/* translateX(-100%) скрывает меню */
.menu-burger {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 15px;
   background-color: #c3f0af; /*?*/
   transform: translateX(-100%);
   transition: transform 0.5s;
}
/* Добавим .activ для JS, клас нужен для возврата меню в видимую область
благодаря свойству translateX(0)  */
.menu-burger.active {
   transform: translateX(0);
}
.menu-burger__item {
   list-style-type: none;
   padding-bottom: 35px;
   font-size: 1.5rem;
   font-weight: 700;
}
.menu-burger__text {
   text-decoration: none;
   color: #111111;
}
.menu-burger__text:hover {
   color: #045207;
}
.menu-burger__text:active {
   color: #358c38;
}

/*При расширении более 800px меню - бургер скрывается*/
@media only screen and (min-width: 800px) {
   .header {
      display: none;
   }
 }














   




   
